body{
    height: 100%;
    width: 100%;
    
}
*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left img{
    width: 70px;
    height: 35px;
    margin-left: 25px;
    
}

header{
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
    
    
    background-color: white;
    height: 86px;
   
    
}
.searchimg{
  width: 50px;
  height: 50px;
}
.flex{
    
    display: flex;
    
}
.container{
    max-width: 0 10vw;
    margin: auto;
    
}
nav ul li{
    list-style: none;
    padding: 0 12px;

}
.items-center{
align-items: center;
}
.justify-center{
justify-content: center;
}
.space-between{
    justify-content: space-between;
    
}
.searchimg{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
a{
  width: 50px;
  height: 50px;
  b
}
nav{
    font-weight: bolder;
    font-size: 12px;
    margin-top: 23px;
    padding-top: -24px;
    position: sticky;
    font-size: medium;
    margin-left: -400px;
    position: absolute;
}
.uppercase{
    text-transform: uppercase;
}
.semibold{
    font-weight: bold;
}
.mx-2{
    margin-left: 19px;
    margin-right: 12px;
}
.section1{

    height:100%;
    width: 100%;
    justify-content: center;
    
}
.search{
    width: 200px;
    padding: 7px 17px;
    border: 0.5px solid grey;
    background: #f7f8fd;
    border-radius: 5px;
    margin-left: 250px;
}


.text1, .text2, .text3{
    text-align: center;
    margin-top: 30px;
    font-size: xxx-large;
}

.containerh{
    display: flex;
    justify-content: center;
    font-size: large;
    margin-top: 15px;

    }
    .gap{
      margin-left: 30px;
      
      border-radius: 20px;
      padding: 5px 5px 5px 5px;
      color: rgb(62, 65, 82);
    }
    * {box-sizing: border-box}
      body {font-family: Verdana, sans-serif; margin:0}
      .mySlides {display: none}
      img {vertical-align: middle;
    width: 1000px;
    height: 500px;
    }
      /* Slideshow container */
      .slideshow-container {
         max-width: 1000px;
         position: relative;
         margin-top: 20px;
         margin-left: 50px;
         background-color: aqua;
         
      }
      /* Next & previous buttons */
      .prev, .next {
         cursor: pointer;
         position: absolute;
         top: 50%;
         width: auto;
         padding: 16px;
         margin-top: -22px;
         color: white;
         font-weight: bold;
         font-size: 18px;
         transition: 0.6s ease;
         border-radius: 0 3px 3px 0;
         user-select: none;
      }
      /* Position the "next button" to the right */
      .next {
         right: 0;
         border-radius: 3px 0 0 3px;
         margin-right: -400px;
      }
      /* On hover, add a black background color with a little bit seethrough */
      .prev:hover, .next:hover {
         background-color: rgba(0,0,0,0.8);
      }
      
      .ham-menu { display: inline-block; position: relative; margin: 25px 0; margin-left: 440px;} /* margin = (width-height)/2 */
.ham-menu, .ham-menu::before, .ham-menu::after { width: 30px; height: 7px; border-radius: 8px; background-color: rgb(114, 108, 108); }
.ham-menu::before, .ham-menu::after { content: ""; display: block; position: absolute; }
.ham-menu::before { bottom: 130%; } .ham-menu::after { top: 130%; }
      /* Caption text */
      .text {
         color: black;
         font-size: 15px;
         padding: 8px 12px;
         position: absolute;
         bottom: 8px;
         width: 100%;
         text-align: center;
      }
      /* Number text (1/3 etc) */
      .numbertext {
         color: #f2f2f2;
         font-size: 12px;
         padding: 8px 12px;
         position: absolute;
         top: 0;
      }
      /* The dots/bullets/indicators */
      .dot {
         cursor: pointer;
         height: 15px;
         width: 15px;
         margin: 0 2px;
         background-color: rgb(203, 90, 90);
         border-radius: 50%;
         display: inline-block;
         transition: background-color 0.6s ease;
      }
      .active, .dot:hover {
         background-color: #717171;
      }
      .text1, .text2, .text3, .text4, .text5, .text6{
        
        
        font-size:x-large;
        font-weight: bolder;
        
          text-transform: uppercase;
          color: rgb(62, 65, 82);
          letter-spacing: 0.15em;
          font-size: 1.8em;
          max-height: 5em;
          font-weight: 500;
          margin: 50px 0px 10px 30px;
      }
        
      
      .containerb, .containerc, .containerd, .containerga, .containergb{
        width: 100%;
        height: 300px;
        
        
        display: flex;
      }
      
      
      
      
      
      .containerb1{
        width: 200px;
        height: 280px;
        border: 5px solid goldenrod;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        
      }
      .containerb2{
        width: 200px;
        height: 280px;
        border: 5px solid goldenrod;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        
      }
      .containerb3{
        width: 200px;
        height: 280px;
        border: 5px solid goldenrod;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        
      }
      .containerb4{
        width: 200px;
        height: 280px;
        border: 5px solid goldenrod;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    
      }
      .containerb5{
        width: 200px;
        height: 280px;
        border: 5px solid goldenrod;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        
      }
      .containerb6{
        width: 200px;
        height: 280px;
        border: 5px solid goldenrod;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    
      }
      .containerb7{
        width: 200px;
        height: 280px;
        border: 5px solid goldenrod;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        
      }
      
      
      
      .containerb1a, .containerb2a, .containerc1a, .containerc2a, .containerd1a, .containerd2a{
        width: 190px;
        height: 70%;
        
      }
      .containerb1b, .containerb2b {
        width: 190px;
        height: 30%;
        margin-top: -35px;
        
        background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(218, 233, 166));
      }
  .containerc1b, .containerc2b{
    width: 190px;
    height: 30%;
    margin-top: -35px;
    
    background-color: beige;
  }
  .containerd1b, .containerd2b{
    width: 190px;
    height: 30%;
    margin-top: -35px;
    
    
    background-color: beige;
  }
  
  h5{
    margin-top: 35px;
    margin-left: 20px;
    font-size: medium;
    
    
  }
  h3{
    margin-top: -5px;
    margin-left: 20px;
  }
      h6{
        margin-top: -15px;
      }
      div img{
        width: 190px;
        height: 100%;
      }
      .containerc1{
        width: 200px;
        height: 280px;
        border: 5px solid rgb(28, 117, 144);
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .containerd1{
        width: 200px;
        height: 280px;
        border: 5px solid rgb(73, 228, 135);
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
      
      
      .containerc2, .containerc3, .containerc4, .containerc5, .containerc6, .containerc7{
        width: 200px;
        height: 280px;
        border: 5px solid rgb(28, 117, 144);
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    
      }
      .containerd2, .containerd3, .containerd4, .containerd5, .containerd6, .containerd7{
        width: 200px;
        height: 280px;
        border: 5px solid rgb(73, 228, 135);
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        
      }
      .center1, .center2,.center3,.center4,.center5, .center6{
        border: 2px solid blanchedalmond;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        margin-left: 50px;
        margin-top: 30px;
        border-width: 3px;
        
      }
      #imagese{
        
        border-radius: 50% 50% 50% 50%;
        margin-left: 2px;
      }
      .containere{
        display: flex;
        margin-left: -10px;
        
      }
      .containere11, .containere12, .containere13, .containere14, .containere15, .containere16{
        
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 50px;
        border-width: 3px;
        justify-content: center; 
        text-align: center;  
        padding: 5px 5px 5px 5px;  
        font-size: large; 
        color: rgb(5, 82, 86);
        border: 2px solid black;
        background-color: blanchedalmond;
      }
      .containerfa{
        width: 1400px;
        height: 200px;
        
        margin: auto;
        display: flex;
        margin-top: 30PX;
        
      }
      .containerfb{
        width: 1400px;
          height: 200px;
          
          margin: auto;
          display: flex;
          margin-top: 10px;
          
        }
        .containerf1, .containerf2, .containerf3, .containerf4, .containerf5, .containerf6, .containerf7, .containerf8{

          width: 300px;
          height: 200px;
          margin-left: 40px;
        }
        
        .containerf1a{
          width: 300px;
          height: 150px;
          
        }
        .containerf1b{
          width: 300px;
          height: 45px;
          
          text-align: center;
          
          
        }
        .fimage{
          width: 294px;
          border-radius: 20px;
        }
        .textf{
          margin-top: 10px;
          font-size: x-large;
          color: rgb(82, 97, 218);
        }
        .containerg1, .containerg8{
          width: 200px;
          height: 280px;
          
          margin-left: 20px;
          margin-top: 10px;
          margin-bottom: 10px;
          
        }
        .containerg2, .containerg3, .containerg4, .containerg5, .containerg6, .containerg7, .containerg9, .containerg10, .containerg11, .containerg12, .containerg13, .containerg14{
          width: 200px;
          height: 280px;
          
          margin-left: 15px;
          margin-top: 10px;
          margin-bottom: 10px;
          
        }
        .containerg1a, .containerg2a{
          width: 190px;
          height: 70%;
          
        }
        .containerg1b, .containerg2b {
          width: 190px;
          height: 15%;
          margin-top: 10px;
        }
        .htext{
          align-items: center;
          margin-left: 35px;
          margin-top: 25px;
          color: rgb(121, 68, 4);
        }
        .containerla{
          width: 100%;
          height: 850px;
          
          margin-top: 10px;
          background-color: #ead2d244;
        }
        .desktop-downLinkContainer {
          display: inline-block;
      }
         
      .desktop-androidDownLink, .desktop-iOSDownLink {
        margin-right: 10px;
        height: 42px;
        width: 150px;
        margin-left: 40px;
        margin-top: 20px;
    }
    a {
      text-decoration: none;
      color: #282c3f;
  }
  .desktop-keepInTouch {
    font-size: large;
    margin-bottom: 10px;
    font-weight: 500;
    margin-top:15px;
    margin-left: 40px;
    color: red;
    letter-spacing: 0.15em;
    
}
.linkimg{
  margin-left: 40px;
  
}
.ph{
  font-size: large;
  letter-spacing: 0.15em;
  color: red;
  margin-left: 10px;
}
.pp{
  margin-left: 10px;
  line-height: 1.5em;
  font-weight: lighter;
  font-size: medium;

}
.popup{
  position: absolute;
  width: 100%;
  height: 100%;
  
  display: grid;
  place-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease-in-out opacity;
  

}
.popup-content{
  width: 40vw;
  height: 420px;
  background-color: #e1e2e7;
  padding: 3rem;
  opacity: 0;
  transform: translateY(20%);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
  border-radius: .5em;

  transition: 200ms ease-in-out opacity,
              200ms ease-in-out transform;    
               
}
.cimage{
  width: 610px;
  height: 320px;
  margin-left: -47px;
}
.csty{
  color: rgb(255, 51, 0);
  font-size: large;
  margin-left: -30px;
  line-height: 1.5;
  margin-top: -80px;
}
span{
  color: black;
}
.popup h1{
  position: relative;
  top: -3.5rem;
  right: -33rem;
  line-height: 1;
  cursor: pointer;
  user-select: none;


}
h1:hover{
  color: #b90707;
}
.popup h1:active{
  transform: scale(.9);
}
.showpopup {
opacity: 1;
transform: translateY(0);
pointer-events: all;
}




        
        
        
        